$main-font: "Roboto", sans-serif;
$header-font: "Poppins", sans-serif !important;

$bg-color-1: rgb(255, 238, 146);
$bg-color-2: rgb(195, 245, 193);
$bg-color-3: rgb(160, 199, 158);

$bg-stop-1: 0%;
$bg-stop-2: 65%;
$bg-stop-3: 100%;