$main-font: "Roboto", sans-serif;
$header-font: "Poppins", sans-serif !important;

$bg-color-1: rgb(146, 190, 225);
$bg-color-2: rgb(193, 220, 225);
$bg-color-3: rgb(159, 158, 225);

$bg-stop-1: 0%;
$bg-stop-2: 65%;
$bg-stop-3: 100%;
